
<% include partials/masthead %>

  <section>
    <div class="docHeading hero-unit">
      <h1>Docuvid</h1>
      <p>Document social video and share with friends.</p>
    </div>
  </section>


  <section class="videoContainer">
    <div class="ajaxLoader">
      loading... &nbsp; <img src="/img/ajax-loader5.gif" alt="">
    </div>
    <div class="videoWrapper" style="display: none;">
      <div class="playerWrapper">
        <div id="video">
          Loading... &nbsp; <img src="/img/ajax-loader5.gif" alt="">
        </div>
      </div>
    </div>
  </section>


  <section class="videoNotes">
    <div class="formNotes">
      <div class="alert" style="display: none;">
        <button type="button" class="close" data-hide="alert">×</button>
        <span></span>
      </div>

      <div class="newNoteContainer" style="display: none;">
        <!-- load a blank note template and use this to add new notes. -->
      </div>

      <div class="savedNotesContainer" style="display: none;">
        <input type="text" id="documentTitle" placeholder="Title">
        <div class="savedNotes">
        </div>
      </div>
    </div>
  </section>


  <% if (tags && tags.length) { %>
    <section class="tagSearchLinks clearfix" style="display: none;">
      <hr>
      <ul class="breadcrumb pull-left">
        <li>Tags:&nbsp;</li>
        <% for(var i = 0; i < tags.length; i += 1) { %>
          <li>
            <% if (i !== 0) { %> <span class="divider">|</span> <% } %>
            <a href="<%= '/search/tag/' + tags[i] %>"><%= tags[i] %></a>
          </li>
        <% } %>
      </ul>
    </section>
  <% } %>


  <section class="socialContainer">
    <hr>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_twitter" style="cursor:pointer"></a>
      <a class="addthis_button_facebook" style="cursor:pointer"></a>
      <a class="addthis_button_delicious" style="cursor:pointer"></a>
      <a class="addthis_button_tumblr" style="cursor:pointer"></a>
      <a class="addthis_button_reddit" style="cursor:pointer"></a>
      <a class="addthis_button_stumbleupon" style="cursor:pointer"></a>
      <a class="addthis_button_google_plusone_badge" style="cursor:pointer"></a>
      <a class="addthis_button_hackernews" style="cursor:pointer"></a>
      <a class="addthis_button_yammer" style="cursor:pointer"></a>
      <a class="addthis_button_instapaper" style="cursor:pointer"></a>
      <a class="addthis_button_favorites" style="cursor:pointer"></a>
      <a class="addthis_button_print" style="cursor:pointer"></a>
      <a class="addthis_button_compact" style="cursor:pointer"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5069d22c58bbf0d3"></script>
  </section>


<% include partials/footer %>
