
<% include partials/masthead %>
<div class="main">
  <h1><%= title %></h1>
  <p>Login with your favorite social media account.</p>
  <hr>
  <div class="controls">
    <a href="/auth/facebook"><img src="/img/social/facebook.png" alt="Log in with Facebook" title="Log in with Facebook"></a>&nbsp;
    <a href="/auth/twitter"><img src="/img/social/twitter.png" alt="Log in with Twitter" title="Log in with Twitter"></a>&nbsp;
    <a href="/auth/google"><img src="/img/social/google.png" alt="Log in with Google" title="Log in with Google"></a>&nbsp;
    <a href="/auth/vimeo"><img src="/img/social/vimeo.png" alt="Log in with Vimeo" title="Log in with Vimeo"></a>&nbsp;
    <a href="/auth/github"><img src="/img/social/github.png" alt="Log in with Github" title="Log in with Github"></a>&nbsp;
    <a href="/auth/dropbox"><img src="/img/social/dropbox.png" alt="Log in with Dropbox" title="Log in with Dropbox"></a>&nbsp;
  </div>
</div>
<% include partials/footer %>
