
<% include partials/masthead %>

  <section>
    <div class="docHeading hero-unit">
      <h1>Docuvid <span class="label label-important"><a href="/beta">Beta</a></span></h1>
      <p>Document social video and share with friends.</p>
    </div>
  </section>


  <div class="marketing">

    <h1>Introducing Docuvid.</h1>
    <p class="marketing-byline">Need reasons to love Docuvid? Look no further.</p>

    <div class="row-fluid">
      <div class="span4">
        <img src='http://fakeimage.heroku.com/300x145.gif?color=!EEEEEE&textcolor=!333333' />
        <h2>Praesent mollis.</h2>
        <p>Suspendisse sit amet tincidunt urna. Suspendisse vitae libero tellus. Suspendisse sollicitudin, massa eu rhoncus viverra, neque ligula egestas ipsum, quis hendrerit arcu eros id magna. Sed nec dui dolor.</p>
      </div>
      <div class="span4">
        <img src='http://fakeimage.heroku.com/300x145.gif?color=!EEEEEE&textcolor=!333333' />
        <h2>Made for everyone.</h2>
        <p>Suspendisse sit amet tincidunt urna. Suspendisse vitae iaculis vehicula ac fringilla tellus. Suspendisse sollicitudin, massa eu rhoncus viverra, neque ligula egestas ipsum, quis hendrerit arcu eros id magna.</p>
      </div>
      <div class="span4">
        <img src='http://fakeimage.heroku.com/300x145.gif?color=!EEEEEE&textcolor=!333333' />
        <h2>Packed with features.</h2>
        <p>Pellentesque faucibus leo eu neque. Suspendisse pretium, leo sit amet diam. Quisque metus augue, mollis in malesuada vitae, posuere sit amet quam. Nam ut turpis vel risus varius euismod vitae in lectus. </p>
      </div>
    </div>

    <hr class="soften">

    <h1>Latest Docuvids.</h1>
    <p class="marketing-byline">Get an account asap and create you own. This couldn't be easier with our social <a href="/login">login</a> option.</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="#" target="_blank">
            <img src='http://fakeimage.heroku.com/210x175.gif?color=!EEEEEE&textcolor=!333333' />
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#" target="_blank">
            <img src='http://fakeimage.heroku.com/210x175.gif?color=!EEEEEE&textcolor=!333333' />
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#" target="_blank">
            <img src='http://fakeimage.heroku.com/210x175.gif?color=!EEEEEE&textcolor=!333333' />
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="#" target="_blank">
            <img src='http://fakeimage.heroku.com/210x175.gif?color=!EEEEEE&textcolor=!333333' />
          </a>
        </li>
      </ul>
     </div>

  </div>


  <section class="socialContainer">
    <hr>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_twitter" style="cursor:pointer"></a>
      <a class="addthis_button_facebook" style="cursor:pointer"></a>
      <a class="addthis_button_delicious" style="cursor:pointer"></a>
      <a class="addthis_button_tumblr" style="cursor:pointer"></a>
      <a class="addthis_button_reddit" style="cursor:pointer"></a>
      <a class="addthis_button_stumbleupon" style="cursor:pointer"></a>
      <a class="addthis_button_google_plusone_badge" style="cursor:pointer"></a>
      <a class="addthis_button_hackernews" style="cursor:pointer"></a>
      <a class="addthis_button_yammer" style="cursor:pointer"></a>
      <a class="addthis_button_instapaper" style="cursor:pointer"></a>
      <a class="addthis_button_favorites" style="cursor:pointer"></a>
      <a class="addthis_button_print" style="cursor:pointer"></a>
      <a class="addthis_button_compact" style="cursor:pointer"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5069d22c58bbf0d3"></script>
  </section>


<% include partials/footer %>
